{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!--about-->
<div id="about" class="about">

    <h1>About <span>us</span></h1>
    <h2>What exactly does “e-learning” mean? E-learning is the act of engaging in an educational course in an online setting.
    E-learning courses can exist in a variety of forms, using a range of technologies. Commonly used in organizations like schools and corporations, 
    e-learning can help learners complete education and training objectives with greater ease and flexibility than they can with traditional classroom-based learning.
    E-learning courses can use a variety of techniques, including audio and video recordings, presentations, quizzes, surveys, games, discussion groups, and more.
    E-learning courses can be published online through a learning management system (LMS).
    An LMS allows for course creators to streamline e-learning content into one easy-to-access location.</h2>
</div>

    <div class="specialty-grids-top">
        <div class="col-md-4 service-box" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <figure class="icon">
                <span class="glyphicon glyphicon-education a1" aria-hidden="true"></span>
            </figure>
            <h5>Awesome Education</h5>
            <p style="text-align:justify;">E-learning has the power to make learning more accessible for users around the world. In education, it brings learning opportunities to previously disadvantaged groups. In business, it helps unite and train an increasingly global workforce.
               When learning materials are online, users are able to access content from anywhere and at any time.</p>
        </div>
        <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <figure class="icon">
                <span class="glyphicon glyphicon-home a2" aria-hidden="true"></span>
            </figure>
            <h5>Awesome classes</h5>
            <p style="text-align:justify;">Sed ut perspiciis iste natus error sit voluptatem accusantium doloremque laudantium elerisque ipsum vehicula pharetra.</p>
        </div>
        <div class="col-md-4 service-box wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <figure class="icon">
                 <span class="glyphicon glyphicon-leaf a3" aria-hidden="true"></span>						
            </figure>
            <h5>Awesome Teachings</h5>
             <p style="text-align:justify;">1. Online Learning Accommodates Everyone’s Needs </br>
                2. Lectures Can Be Taken Any Number Of Times </br>
                3. Offers Access To Updated Content </br>
                4. Quick Delivery Of Lessons </br>
                5. Scalability </br>
                6. Consistency </br>
                7. Reduced Costs </br>
                8. Effectiveness
                9. Less Impact On Environment</p>
        </div>
        <div class="clearfix"> </div>
    </div>

  
        <div class="clearfix"></div>
    </div>
</div>
<div class="about-info">
<img src="{% static 'images/ab.jpg' %}" alt="about-image">
<div class="right-agile">
    <h5>Education</h5>
    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discussion, teaching, training, and directed research. Education frequently takes place under the guidance of educators and also learners may also educate themselves.[1] Education can take place in formal or informal settings and any experience that has a formative effect on the way one thinks, feels, or acts may be considered educational. The methodology of teaching is called pedagogy.

        Formal education is commonly divided formally into such stages as preschool or kindergarten, primary school, secondary school and then college, university, or apprenticeship.</p>
</div>
</div>
<h2 style="text-color:black bold ">E-Learning</h2>
    <p> A learning system based on formalised teaching but with the help of electronic resources is known as E-learning. While teaching can be based in or out of the classrooms, the use of computers and the Internet forms the major component of E-learning. E-learning can also be termed as a network enabled transfer of skills and knowledge, and the delivery of education is made to a large number of recipients at the same or different times. Earlier, it was not accepted wholeheartedly as it was assumed that this system lacked the human element required in learning. </p>

<div class="clearfix"></div>
<!--//about-->
{% endblock %}