{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


<!-- gallery -->
<div class="portfolio" id="gallery">
    <h3>Gallery</h3>
        
        <div class="portfolio-top wow fadeInDown animated" data-wow-delay=".5s">
         
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal1"  data-toggle="modal">
    
                    <img src="{% static 'images/g1.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4>E-Learning</h4>
                            <p> E-Learning is not a problem. Education is an opportunity.</p>
                        </figcaption>
                    </a>						
                </figure>
            </div>
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal2"  data-toggle="modal">
    
                    <img src="{% static 'images/g2.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4>E-Learning</h4>
                            <p> E-Learning is not a problem. Education is an opportunity.</p>							
                        </figcaption>	
                        </a>						
                </figure>
            </div>
            <div class="col-md-4 grid slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal3"  data-toggle="modal">
    
                    <img src="{% static 'images/g3.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4>E-Learning</h4>
                            <p> E-Learning is not a problem. Education is an opportunity.</p>							
                        </figcaption>
                    </a>						
                </figure>
            </div>
            
            <div class="clearfix"></div>
         </div>
        <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s">
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal4"  data-toggle="modal">
    
                    <img src="{% static 'images/g4.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4 class="effcet-text"> E-Learning</h4>
                            <p> Learning is never done without errors and defeat.</p>							
                        </figcaption>	
                    </a>						
                </figure>
            </div>
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal5"  data-toggle="modal">
    
                    <img src="{% static 'images/g5.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4 class="effcet-text"> E-Learning</h4>
                            <p>Learning is never done without errors and defeat.</p>							
                        </figcaption>
                        </a>						
                </figure>
            </div>
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal6"  data-toggle="modal">
    
                    <img src="{% static 'images/g6.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4 class="effcet-text">E-Learning</h4>
                            <p>Learning is never done without errors and defeat.</p>							
                        </figcaption>
                    </a>						
                </figure>
            </div>
            <div class="col-md-3 grid grid-wi slideanim">
                <figure class="effect-jazz">
                <a href="#portfolioModal7"  data-toggle="modal">
    
                    <img src="{% static 'images/g7.jpg' %}" alt="img25" class="img-responsive"/>
                        <figcaption>
                            <h4 class="effcet-text"> E-Learning</h4>
                            <p> Learning is never done without errors and defeat.</p>							
                        </figcaption>
                    </a>						
                </figure>
            </div>
            <div class="clearfix"></div>
         </div>
    </div>
    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
        
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                        
                        <img src="{% static 'images/g1.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
         
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                      
                        <img src="{% static 'images/g2.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                     
                        <img src="{% static 'images/g3.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
       
    </div>
    </div>
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                       
                        <img src="{% static 'images/g4.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            
        </div>
    </div>
    </div>
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
    
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                       
                        <img src="{% static 'images/g5.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
           
        </div>
    </div>
    </div>
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
           
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                       
                        <img src="{% static 'images/g6.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        
    </div>
    </div>
    <div class="portfolio-modal modal fade slideanim" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>E-Learning</h3>
                     
                        <img src="{% static 'images/g7.jpg' %}" class="img-responsive" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
         
        </div>
    </div>
    </div>
    <!-- /Portfolio Modals -->
    <!-- //gallery -->
    
{% endblock%}