{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="header">
    <!-- Slider -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                    
                        <div class="slider-info">
                            <p>The purpose of education is to replace an empty mind with an open one.</p>
                            <h3><a href="index.html"><span>E</span> Learning</a></h3>
                            <h6>wisdom begins with wonder.</h6>
                        </div>
                    </li>
                    <li>
                    
                        <div class="slider-info">
                            <p>Education is a vaccine for violence.</p>
                            <h3><a href="index.html"><span>E</span> Learning</a></h3>
                            <h6>wisdom begins with wonder.</h6>
                        </div>
                    </li>
                    <li>
                    
                        <div class="slider-info">
                            <p>wisdom begins with wonder.</p>
                            <h6>wisdom begins with wonder.</h6>
                        </div>
                    </li>
                    <li>
                    
                        <div class="slider-info">
                            <p>Learning never exhausts the mind.</p>
                            <h3><a href="index.html"><span>E</span> Learning</a></h3>
                            <h6>wisdom begins with wonder.</h6>
                        </div>
                    </li>
                        
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    <!-- //Slider -->
</div>
</div>
<!--main-content-->




 

{% endblock %}