{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!-- team -->
<div class="team" id="team">
    <div class="container">
        <h3 class="title">Our  <span>Team</span></h3>
        <div class="team_gds">
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="{% static 'images/aps.jpg' %}"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so3 fa fa-instagram fc3" aria-hidden="true"></i></a>
                    </div>
                </div>
                <h4>Surya Pratap Singh</h4>
                <p>intacto_aps</p>
            </div>
        
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="{% static 'images/akhil.jpg' %}"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so3 fa fa-instagram fc3" aria-hidden="true"></i></a>
                    </div>
                </div>
                <h4>Kushwaha</h4>
                <p>_akhil.mehta_</p>
            </div>
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="{% static 'images/sir.jpg' %}"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so3 fa fa-instagram fc3" aria-hidden="true"></i></a>
                    </div>
                </div>
                <h4>  Ahmad</h4>
                <p>Instructor</p>
            </div>
            <div class="col-md-3 team_gd1 wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="team_pos">
                    <div class="team_back"></div>
                    <img class="img-responsive" src="{% static 'images/t41.jpg' %}"  alt=" ">
                    <div class="team_info">
                        <a href="#"  class="face_one"><i class=" so1 fa fa-facebook fc1" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so2 fa fa-twitter fc2" aria-hidden="true"></i></a>
                        <a href="#"  class="face_one"><i class=" so3 fa fa-instagram fc3" aria-hidden="true"></i></a>
                    </div>
                </div>
                <h4>Mr. Narendra Kumar Jha</h4>
                <p>Project Guide</p>
            </div>
            <div class="clearfix"></div>		
        </div>
    </div>
    </div>
    <!-- //team -->
{% endblock %}    