{% load staticfiles %}
{% load static %}
{% load flatpages %}
{% load i18n %}
{% load gravatar %}
<!DOCTYPE html>
<html>
<head>

  <title>E-Learning| Home :: E-Learning</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Educational Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
  Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--// Meta tag Keywords -->
  <!-- css files -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
  <!-- //css files -->
  <!-- online-fonts -->
  <link href="{% static '//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext' %}" rel="stylesheet">
  <link href="{% static '//fonts.googleapis.com/css?family=Covered+By+Your+Grace' %}" rel="stylesheet">
  <!-- //online-fonts -->
  
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link href="{% static 'styles/styles.css' %}" rel="stylesheet">
      <link rel="manifest" href="{% static 'manifest.json' %}">
  </head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'course_list' %}">{% trans 'E-learning' %}</a> </li>
            <li><a href="{% url 'course_list' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}" >Services</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'our_team' %}">Our Team</a></li>
            <li><a href="{% url 'liste_events' %}">{% trans 'Calendar' %}</a></li>            
            <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
            <li><a href="{% url 'signup' %}">{% trans 'Sign up' %}</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{% trans "Browse" %}</strong> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'course_list' %}">{% trans 'All courses' %}</a></li>
             
              <li><a href="{% url 'videos_list' %}">{% trans 'Videos' %}</a></li>
             
            </ul>
         </li>
		 <li class="form-group" >
			<input type="search" class="form-control" autocomplete="off" name="q" placeholder="{% trans 'Search for a new topic now...' %}">
		</li>
         <li>
			<form class="navbar-form navbar-left" method="get" accept-charset="utf-8" role="search" style="margin-top:-1px;margin-left:-25px;">
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </li>

            <li>
            <ul class="nav navbar-nav navbar-right">
          
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="avatar" src="{{ user|gravatar }}" alt="{{ user.username }}"> <span class="caret">Profile</span></a>
                  <ul class="dropdown-menu">
                      {% if user.is_authenticated and request.user.is_teacher or request.user.is_staff %}
                          <li><a href="{% url 'manage_course_list' %}">{% trans 'Manage courses' %}</a></li>
                          <li><a href="{% url 'teacher_quiz_change_list' %}">{% trans 'Manage quizzes' %}</a></li>
                      {% endif %}
                      {% if user.is_authenticated and request.user.is_student %}
                          <li><a href="{% url 'student_quiz_list' %}">{% trans 'My Quiz' %}</a></li>
                          <li><a href="{% url 'student_course_list' %}">{% trans 'My Course' %}</a></li>
                      {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'student_recommendation_list' %}">{% trans 'My recommended courses' %}</a></li>
                    <li><a href="{% url 'listes_events' %}">{% trans 'My events' %}</a></li>
                    <li><a href="{% url 'edit' %}">{% trans 'My account' %}</a></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                  </ul>
                </li>
                {% else %}
      
                    
                {% endif %}
              </ul>
              </li>

        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>




      {% block content %}
      {% endblock %}

    
<!--test-->
<div id="testimonials" class="review">
    <div class="container">
    <h3 class="title-aps">Testimonials</h3>
            <div class="test-monials">
            <!--//screen-gallery-->
                    <div class="sreen-gallery-cursual">
                        
                           <div id="owl-demo" class="owl-carousel">
                                 <div class="item-owl">
                                    <div class="test-review">
                                    <p>‟ The secret of life is not enjoyment but education through experience. ”</p>
                                        <div class="img-agile">
                                            <img src="{% static 'images/img1.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                          <h5>Swami Vivekananda</h5>
                                        </div>
                                </div>
                                 <div class="item-owl">
                                    <div class="test-review">
                                     <p> ‟ Learning gives creativity, creativity leads to thinking, thinking provides knowledge, and knowledge makes you great. ”</p>
                                        <div class="img-agile">
                                        <img src="{% static 'images/img2.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                        <h5>Dr.A.P.J.Abdul Kalam</h5>
                                    </div>
                                </div>
                                 <div class="item-owl">
                                    <div class="test-review">
                                         <p>‟ Education is the most powerful weapon which you can use to change the world. ”</p>
                                        <div class="img-agile">
                                        <img src="{% static 'images/img3.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                        <h5>Nelson Mandela</h5>
                                    </div>
                                </div>
                                <div class="item-owl">
                                    <div class="test-review">
                                         <p>‟ Education is the key to unlock the golden door of freedom. ”</p>
                                        <div class="img-agile">
                                        <img src="{% static 'images/img4.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                        <h5>George Washington Carver</h5>
                                    </div>
                                </div>
                                <div class="item-owl">
                                    <div class="test-review">
                                         <p>‟ Education is what remains after one has forgotten what one has learned in school. ”</p>
                                        <div class="img-agile">
                                        <img src="{% static 'images/img5.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                        <h5>Albert Einstein</h5>
                                    </div>
                                </div>
                                <div class="item-owl">
                                    <div class="test-review">
                                         <p>‟ Education is the best friend. An educated person is respected everywhere. Education beats the beauty and the youth. ”</p>
                                        <div class="img-agile">
                                        <img src="{% static 'images/img6.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                        <h5>Chanakya</h5>
                                    </div>
                                </div>
                                <div class="item-owl">
                                    <div class="test-review">
                                         <p>‟ Live as if you were to die tomorrow. Learn as if you were to live forever. ”</p>
                                        <div class="img-agile">
                                        <img src="{% static 'images/img7.jpg' %}" class="img-responsive" alt=""/>
                                        </div>
                                        <h5>Mahatma Gandhi</h5>
                                    </div>
                                </div>
                          </div>
                    <!--//screen-gallery-->
                </div>
            </div>
        </div>
    </div>
<!--//test-->


       <!-- footer -->
<div class="footer" id="footer">
<div class="container">
    <div class="col-md-4 agileinfo_footer_grid">
        <h4>About Us</h4>
        <p> <span>Our roots in search, diverse backgrounds and deep experience combine to give you all the skills it takes to create and rank content under one roof  and From writing and design to interactive and animation, we’re the team brands trust to deliver best-in-class content, and the traction other agencies can’t. Get to know us.</span></p>
    </div>
    <div class="col-md-4 agileinfo_footer_grid mid-aps nav2">
        <h4>Options</h4>
        <ul>
            <li><a href="{% url 'course_list' %}" class="scroll">Home</a></li>
            <li><a href="{% url 'about' %}" class="scroll">About Us</a></li>
            <li><a href="{% url 'services' %}" class="scroll">Services</a></li>
            <li><a href="{% url 'gallery' %}" class="scroll">Gallery</a></li>
            <li><a href="{% url 'our_team' %}" class="scroll">Team</a></li>

            <li><a href="#testimonials" class="scroll">Testimonials</a></li>
        </ul>
    </div>
    <div class="col-md-4 agileinfo_footer_grid">
        <h4>Address</h4>
        <ul>
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Lucknow Uttar Pradesh</li>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="akhilkushwaha162@gmail.com">akhilkushwaha162@gmail.com</a></li>
            <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91-8737044249 </li>
        </ul>
    </div>
    
    <div class="clearfix"> </div>
    <div class="apsagile_footer_copy">
        <p>© 2019 E-Learning. All rights reserved | Design by intacto_aps > E-Learning</a></p>
    </div>

   
</div>
</div>
<!-- //footer -->





    <!-- js -->

    <script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>

    <script src="{% static 'scripts/libs/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/libs/jquery-ui.min.js' %}"></script>
    <script src="{% static 'scripts/main.min.js' %}"></script>
    
    
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>


<script src="{% static 'js/jquery.chocolat.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="screen">
<!--light-box-files -->
<script>
$(function() {
    $('.gallery-grid a').Chocolat();
});
</script>
<!-- required-js-files-->

                    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
                        <script src="{% static 'js/owl.carousel.js' %}"></script>
                            <script>
                        $(document).ready(function() {
                          $("#owl-demo").owlCarousel({
                            items : 1,
                            lazyLoad : true,
                            autoPlay : true,
                            navigation : false,
                            navigationText :  false,
                            pagination : true,
                          });
                        });
                        </script>
<!--//required-js-files-->

<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                pager:false,
                nav: true,
                speed: 1000,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
$(".scroll").click(function(event){		
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
});
});
</script>
<!-- start-smoth-scrolling -->

<!-- bottom-top -->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function() {
    /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
    */								
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!--// bottom-top -->
<script>
$(document).ready(function() {
    {% block domready %}
    {% endblock %}
});

if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{% url 'sw.js' %}", { scope: '/static/' }).then(function(res) {
        console.log("sw installed !" + res.scope);
    }).catch(function(error) {
        console.log("sw failed" + error);
    });
}
</script>
</body>
</html>
